{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}


    <div class="container pt-5">
        {% for label, messages in app.flashes(['success', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h1>Index des utilisateurs</h1>
        <table class="table pt-5">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td>{{ utilisateur.id }}</td>
                    <td>{{ utilisateur.email }}</td>
                    <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
                    <td>{{ utilisateur.nom }}</td>
                    <td>{{ utilisateur.prenom }}</td>
                    <td>
                        <a href="{{ path('admin_utilisateur_show', {'id': utilisateur.id}) }}" class="btn btn-primary">Afficher</a>
                        <a href="{{ path('admin_utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-warning">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('admin_utilisateur_new') }}">Create new</a>
    </div>

{% endblock %}
