{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}

    <div class="container pt-5">
        <h1>{{ utilisateur.nom }} {{ utilisateur.prenom }}</h1>
        <div class="pt-5">
            <div class="col">
                <div class="row font-weight-bold">Nom</div>
                <div class="row">{{ utilisateur.nom }}</div>
                <div class="row font-weight-bold">Prénom</div>
                <div class="row">{{ utilisateur.prenom }}</div>
                <div class="row font-weight-bold">Email</div>
                <div class="row">{{ utilisateur.email }}</div>
                <div class="row font-weight-bold">Role</div>
                <div class="row">{{ utilisateur.roles ? utilisateur.roles|json_encode : ''  }}</div>
            </div>
        </div>
        <div class="col pt-5">
            <a href="{{ path('admin_utilisateur_edit', {'id': utilisateur.id}) }}"class="btn btn-warning">Modifier</a>
            {{ include('utilisateur/Back/_delete_form.html.twig') }}
            <a href="{{ path('admin_utilisateur_index') }}" class="btn btn-primary">Retour à la liste</a>
        </div>
    </div>
    </div>


{% endblock %}
