{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}

{% block body %}
    <div class="container">
        <h1>Demande</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande.id }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ demande.objet }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ demande.texte }}</td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex">
            <a href="{{ path('demande_index') }}" class="btn btn-secondary">Retour à la liste</a>

            <a href="{{ path('demande_edit', {'id': demande.id}) }}" class="btn btn-warning">Modifier</a>

            {{ include('demande/_delete_form.html.twig') }}
        </div>

    </div>

{% endblock %}
