{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <div class="container pt-5">
        <h1>Indexe des Articles</h1>

        <a href="{{ path('admin_article_new') }}" class="btn btn-primary my-1">Créer un article</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Texte</th>
                <th scope="col">Date de création</th>
                <th scope="col">Rubrique</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.titre }}</td>
                    <td>{{ article.texte }}</td>
                    <td>{{ article.dateCreation ? article.dateCreation|date('Y-m-d') : '' }}</td>
                    <td><a href="{{ path('rubrique_show',{id: article.rubrique.id}) }}">{{ article.rubrique.titre }}</a></td>
                    <td class="d-flex">
                        <a href="{{ path('admin_article_show', {'id': article.id}) }}" class="btn btn-primary">Afficher</a>
                        <a href="{{ path('admin_article_edit', {'id': article.id}) }}" class="btn btn-warning">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
