{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <div class="container d-flex flex-column col p-5">
        <div class="row">
            <div class="col">
                NOM
            </div>
            <div class="col">
                {{ utilisateur.nom }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                PRENOM
            </div>
            <div class="col">
                {{ utilisateur.prenom }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                MAIL
            </div>
            <div class="col">
                {{ utilisateur.email }}
            </div>
        </div>
        <div class="justify-content-center">
            <div class="col">
                <a href="{{ path('utilisateur_index') }}" class="btn btn-primary">back to list</a>
            </div>
            <div class="col">
                <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}"class="btn btn-warning">edit</a>
            </div>
            <div class="col">
                {{ include('utilisateur/_delete_form.html.twig') }}
            </div>
        </div>

    </div>


{% endblock %}
