<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{{ path('app_accueil') }}">M</a>
            <a class="nav-link" href="#">Abonnement</a>
            {% for rubrique in menu %}
            <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="{{ rubrique.titre }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ rubrique.titre }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="{{ rubrique.titre }}">
                        {% for article in articles %}
                            {% if article.rubrique.id == rubrique.id %}
                            <a class="dropdown-item" href="{{ path('article_show', {id: article.id}) }}">{{ article.titre }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex">
        {% if app.user %}
        <a class="nav-link" href="{{ path('utilisateur_profile') }}">Mon compte</a>
        {% if is_granted('ROLE_ADMIN') %}
        <a class="nav-link" href="{{ path('app_admin') }}">Administration</a>
        {% endif %}
        <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>

        {% else %}
        <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
        <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
        {% endif %}
    </div>
</nav>