{% extends 'base.html.twig' %}

{% block title %}Hello AbonnementController!{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
    <h1 class="pt-5">Abonnement {{ abonnement.titre }}</h1>
    <div class="d-flex justify-content-center pt-5">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ abonnement.image }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ abonnement.titre }}</h5>
                <p class="card-text">{{ abonnement.prix }} euros</p>
                <a href="{{ path('abonnement',{id: abonnement.id}) }}" class="btn btn-primary">Choisir</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
